@import "tailwindcss";

@theme {
  /* font */
  --font-outfit: "Outfit", sans-serif;
  --font-inter: "Inter", monospace;

  /* palet */
  --color-primary: #092635;
  --color-secondary: #1b4242;
  --color-third: #5c8374;
  --color-fourth: #9ec8b9;
  --color-whitebg: #d9d9d9;
}
